<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expense-tracker</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="icon" href="https://fontawesome.com/icons/circle-dollar-to-slot?f=sharp&s=solid" type="image/icon type" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    {{!-- <link rel="stylesheet" href="./stylesheets/bootstrap.css" /> --}}
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/c48265f5dd.js" crossorigin="anonymous"></script>
  </body>
</html>