{{>message}}
<div class="d-flex">
  <div
    style="width: 50vw;height: 100vh; background-image:url('/image/login.svg');background-position:center;background-size:contain;background-repeat:no-repeat;">
  </div>
  <div class="row" style="width: 50vw;">
    <div class="row">
      123
      <div class="row">
        456
      </div>
      <div class="row">
        <div class="col-md-8">
          789
        </div>
      </div>
    </div>
  </div>
</div>